torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
diffusers==0.11.1
transformers==4.25.1
xformers==0.0.16
imageio==2.27.0
gdown
einops
omegaconf
safetensors
gradio
imageio[ffmpeg]
imageio[pyav]
accelerate