# requirements.txt

torch==1.13.1+cu117
torchvision==0.14.1+cu117
torchaudio==0.13.1
triton
diffusers==0.11.1
transformers==4.25.1
xformers
imageio
decord
gdown
einops
omegaconf
safetensors
gradio
wandb
accelerate